.skills-experience{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   

   

}

.skills{
    margin-bottom:5rem ;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding:1rem 2rem;
    border: 1px solid white;
    border-radius: 20px;
    /* background: #EEAA55;
    color: black; */
}

.skills-img{
   margin-top: 1rem;
   display: block;
   /* width: 200px; */
}

.skills-img span{
   width:50px;
   height: 50px;
   display: inline-block;
   background: no-repeat;
   background-size: cover;
   margin: 1rem;
}

.skills-img span:nth-child(1){
   background-image: url('/src/assets/html.png');
}
.skills-img span:nth-child(2){
   background-image: url('/src/assets/css.png');
}
.skills-img span:nth-child(3){
   background-image: url('/src/assets/javascript.png');
}
.skills-img span:nth-child(4){
   background-image: url('/src/assets/react.png');
}
.skills-img span:nth-child(5){
   background-image: url('/src/assets/redux.png');
}
.skills-img span:nth-child(6){
   background-image: url('/src/assets/node.png');
}

.skills-img span:nth-child(7){
   background-image: url('/src/assets/git.png');
}
.skills-img span:nth-child(8){
   background-image: url('/src/assets/figma.png');
}

.experience{
   padding:1rem 2rem;
   border: 1px solid white;
   border-radius: 20px;
   text-align: justify;
   
   /* background: #EEAA55;
   color: black; */

}

.experience .para{
   margin: 2rem 0;
}

.experience h3 {
   text-align: center;
}

.work-experience{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   text-align: none;
}

.work-experience span {
   color: #EEAA55;
   font-size: 12px;
   margin-top: 1rem;
}

.work-experience p {
   color:#EA5F5F;
   font-size: 10px;
   margin-bottom: 1rem;
}

.work-experience ul{
   margin-left: 1rem;
}




/* small devices */
@media screen and (max-width:950px) {
   .skills,.experience{
      margin: 1rem;
      
      /* background: #EEAA55;
      color: black; */
   
   }
}


 



